USE [master]
GO
/****** Object:  Database [LibraryManagementSystem]    Script Date: 3/16/2022 1:15:22 PM ******/
CREATE DATABASE [LibraryManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagementSystem', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagementSystem_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagementSystem]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 3/16/2022 1:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[BOOK_ID] [nchar](10) NOT NULL,
	[BOOKNAME] [nvarchar](50) NOT NULL,
	[AUTHOR] [nvarchar](50) NOT NULL,
	[PUBLICATION_YEAR] [int] NOT NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORROW]    Script Date: 3/16/2022 1:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROW](
	[BORROWER_ID] [nchar](10) NOT NULL,
	[BOOK_ID] [nchar](10) NOT NULL,
	[BORROWED_DATE] [datetime] NOT NULL,
	[RETURN_DATE] [datetime] NULL,
 CONSTRAINT [PK_BORROW] PRIMARY KEY CLUSTERED 
(
	[BORROWER_ID] ASC,
	[BOOK_ID] ASC,
	[BORROWED_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BORROWER]    Script Date: 3/16/2022 1:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROWER](
	[BORROWER_ID] [nchar](10) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[PHONE] [nchar](20) NOT NULL,
 CONSTRAINT [PK_BORROWER] PRIMARY KEY CLUSTERED 
(
	[BORROWER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOOK] ([BOOK_ID], [BOOKNAME], [AUTHOR], [PUBLICATION_YEAR]) VALUES (N'B001      ', N'C# 6.0 and the .NET 4.6 Framework', N'Andrew Troelsen', 2015)
INSERT [dbo].[BOOK] ([BOOK_ID], [BOOKNAME], [AUTHOR], [PUBLICATION_YEAR]) VALUES (N'B002      ', N'C# Programming Yellow Book', N'NULLRob Miles', 2016)
INSERT [dbo].[BOOK] ([BOOK_ID], [BOOKNAME], [AUTHOR], [PUBLICATION_YEAR]) VALUES (N'B003      ', N'Core Java Volume I - Fundamentals', N'Cay S. Horstmann', 2018)
GO
INSERT [dbo].[BORROW] ([BORROWER_ID], [BOOK_ID], [BORROWED_DATE], [RETURN_DATE]) VALUES (N'R001      ', N'B001      ', CAST(N'2021-06-28T00:00:00.000' AS DateTime), CAST(N'2021-06-30T00:00:00.000' AS DateTime))
INSERT [dbo].[BORROW] ([BORROWER_ID], [BOOK_ID], [BORROWED_DATE], [RETURN_DATE]) VALUES (N'R001      ', N'B002      ', CAST(N'2021-07-04T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[BORROW] ([BORROWER_ID], [BOOK_ID], [BORROWED_DATE], [RETURN_DATE]) VALUES (N'R002      ', N'B001      ', CAST(N'2021-07-03T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[BORROWER] ([BORROWER_ID], [FIRSTNAME], [LASTNAME], [ADDRESS], [PHONE]) VALUES (N'R001      ', N'THUY DUONG', N'NGUYEN', N'21 LE LAI, DANANG, VIETNAM', N'+ 84932987654       ')
INSERT [dbo].[BORROWER] ([BORROWER_ID], [FIRSTNAME], [LASTNAME], [ADDRESS], [PHONE]) VALUES (N'R002      ', N'VAN NGHIA', N'NGUYEN', N'25 NGUYEN DU, HUE, VIETNAM', N'+ 84989258369       ')
INSERT [dbo].[BORROWER] ([BORROWER_ID], [FIRSTNAME], [LASTNAME], [ADDRESS], [PHONE]) VALUES (N'R003      ', N'QUANG THANG', N'NGO', N'12 CO GIANG, DANANG, VIETNAM', N'+ 84909147852       ')
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_BOOK] FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOK] ([BOOK_ID])
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK_BORROW_BOOK]
GO
ALTER TABLE [dbo].[BORROW]  WITH CHECK ADD  CONSTRAINT [FK_BORROW_BORROWER] FOREIGN KEY([BORROWER_ID])
REFERENCES [dbo].[BORROWER] ([BORROWER_ID])
GO
ALTER TABLE [dbo].[BORROW] CHECK CONSTRAINT [FK_BORROW_BORROWER]
GO
USE [master]
GO
